stages:
  - build
  - deploy

build_service:
  stage: build
  retry: 2
  script:
    - export JAVA_HOME=/usr/local/jdk17/
    - export PATH=$JAVA_HOME/bin:$PATH
    - export CLASSPATH=.:$JAVA_HOME/lib/dt.jar:$JAVA_HOME/lib/tools.jar
    - java --version
    - gradle clean build
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t registry.docker.guiyunweb.com/guiyun/app .
    - docker push registry.docker.guiyunweb.com/guiyun/app

build_web:
  stage: build
  retry: 2
  script:
    - cd app-ui/
    - yarn install
    - yarn run build
    - echo "eslint passï¼"


deploy_service:
  stage: deploy
  script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" >>  ~/.ssh/id_rsa
    - chmod -R 700 ~/.ssh
    - ssh -t -o StrictHostKeyChecking=no root@$HOST_SHANGHAI "cd /home/app/docker-compose && docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY && docker compose pull && docker compose up -d --build"
